# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [2]:
def add_two(x):
    return x + 2

print(add_two)
print(add_two(5))

<function add_two at 0x7f7b304f9430>
7

In [3]:
lambda x:x+2
print(lambda x:x+2)

<function <lambda> at 0x7f7b304f9040>

In [4]:
# execute lambda function - IIFFE - Immediately Invoked Function Expression
# can't 'call' it, must immediately invoke it

# put lambda in parentheses, then follow w argument in parentheses
(lambda x:x+2)(5)

7

#### Saving to a Variable

In [7]:
# can save to variable, but it only just saves it as a function
named_lambda = lambda x:x+2
print(named_lambda)

# it's really the same which is the same as def)
named_lambda(5)

<function <lambda> at 0x7f7b304f9700>

7

#### Multiple Inputs

In [8]:
def multiply(x, y, z):
    return x * y * z

multiply(3, 5, 7)

105

In [9]:
(lambda x, y, z:x*y*z)(3,5,7)

105

#### Passing a Function into a Function

In [13]:
def apply_func(f, name):
    """
    f -> function to execute
    name -> name to execute the function on
    """
    return f(name)

def get_first_letter(string):
    return string[0]


# call apply #call get_first #with this string
apply_func(get_first_letter, "T'Challa")

'T'

#### Passing a Lambda into a Function

In [18]:
apply_func(lambda string: string[-1], 'codingtemple')

'e'

#### Returning a function from a function

In [19]:
# regular defined function

def create_multiplier(num):
    def inner_func(x):
        return num * x
    y = inner_func(10)
    return y

create_multiplier(5)

50

In [20]:
# regular defined function

def create_multiplier(num):
    def inner_func(x):
        return num * x
    return inner_func

create_multiplier(5)

In [23]:
five_times = create_multiplier(5)
print(x)
five_times(5)

#create_multiplier is a function that creates a FUNCTION

<function create_multiplier.<locals>.inner_func at 0x7f7b304f99d0>

25

#### Returning a Lambda from a Function

#### If Statements within Lambdas

In [24]:
def do_something(num):
    if num > 10:
        return num * 2
    else:
        return num + 2
    
do_something(5)

7

In [25]:
def do_something_again(num):
    return num * 2 if num > 10 else num + 2

do_something_again(5)

7

In [27]:
# lambda input(s):<value to reutn if true> if <condition> else <value to return if false> 

(lambda num: num*2 if num > 10 else num + 2)(5)

7

In [28]:
def do_something_else(num):
    if num > 100:
        return num
    elif num > 50:
        return num - 10
    elif num > 20:
        return num ** 2
    else:
        return 0
    
print(do_something_else(110))
print(do_something_else(80))
print(do_something_else(30))
print(do_something_else(10))

110
70
900
0

In [33]:
def do_something_else(num):
    return num if num > 100 else num-10 if num > 50 else num**2 if num > 20 else 0

print(do_something_else(110))
print(do_something_else(80))
print(do_something_else(30))
print(do_something_else(10))

110
70
900
0

In [29]:
# lambda input(s):<value to reutn if true> if <condition> else <value to return if false> 

(lambda num: num if num > 100 else num-10 if num > 50 else num**2 if num > 20 else 0)(110)

110

In [30]:
# lambda input(s):<value to reutn if true> if <condition> else <value to return if false> 

(lambda num: num if num > 100 else num-10 if num > 50 else num**2 if num > 20 else 0)(80)

70

In [31]:
# lambda input(s):<value to reutn if true> if <condition> else <value to return if false> 

(lambda num: num if num > 100 else num-10 if num > 50 else num**2 if num > 20 else 0)(30)

900

In [32]:
# lambda input(s):<value to reutn if true> if <condition> else <value to return if false> 

(lambda num: num if num > 100 else num-10 if num > 50 else num**2 if num > 20 else 0)(10)

0

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [34]:
f = lambda x:x**3

f(2)

8

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [35]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [36]:
def squared_minus_two(number):
    return number**2 - 2

numbers = [12, 3, 7, 3, 6, 58, 23, 2, 44]

new_nums = []
for num in numbers:
    new_num = squared_minus_two(num)
    new_nums.append(new_num)
    
print(new_nums)

[142, 7, 47, 7, 34, 3362, 527, 2, 1934]

In [40]:
# map(function, interable -> list, tuple, string, set, dict, etc)

# returns a map object
# map(squared_minus_two, numbers)

# often ppl put map output into list
list(map(squared_minus_two, numbers))

[142, 7, 47, 7, 34, 3362, 527, 2, 1934]

#### Using Lambda's with Map

In [ ]:
numbers_again = [4,6]
list(map(lambda num: num**2 - 2, numbers_again))

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

if even, multiply by 2<br>
if odd, divide by 2

In [45]:
numbers = [1,2,3,4,5,6,7,8,9,10]
(lambda num:num*2 if num % 2 == 0 else num / 2)(2)

4

In [46]:
list(map(lambda num:num*2 if num % 2 == 0 else num / 2, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [191]:
names = ['Bob','Andy','Max', 'Allison','Evan','Angelica']

def a_names(name):
    if name[0].lower() == 'a':
        return True
    else:
        return False
new_names_list = list(filter(a_names, names))
print(new_names_list)

print(a_names)

['Andy', 'Allison', 'Angelica']
<function a_names at 0x7f7b1260c3a0>

#### Using Lambda's with Filter()

In [52]:
list(filter(lambda name: True if name[0].upper()=='A' else False, names))

['Andy', 'AllisonEvan', 'Angelica']

In [53]:
list(filter(lambda name: name[0].upper()=='A', names))

['Andy', 'AllisonEvan', 'Angelica']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [54]:
from statistics import mean

In [60]:
from random import randint

random_nums = [randint(1, 100) for _ in range(20)]
print(random_nums)

[12, 70, 54, 4, 39, 12, 58, 67, 52, 5, 68, 73, 83, 20, 48, 95, 73, 44, 67, 35]

In [61]:
#help(statistics)

In [69]:
# #num < statistics.mean(random_nums)
# num in num_list

# #filter
# if num < mean(num_list)

num_list = [12, 70, 54, 4, 39, 12, 58, 67, 52, 5, 68, 73, 83, 20, 48, 95, 73, 44, 67, 35]
print(statistics.mean(num_list))


# this will need to calculate the mean every time...
a = list(filter(lambda num: num > statistics.mean(num_list), num_list))
print(a)

# more efficient to calc mean ONCE:
avg = statistics.mean(num_list)
b = list(filter(lambda num: num > avg, num_list))
print(b)

48.95
[70, 54, 58, 67, 52, 68, 73, 83, 95, 73, 67]
[70, 54, 58, 67, 52, 68, 73, 83, 95, 73, 67]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

In [70]:
from functools import reduce

In [71]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

#### Syntax

In [74]:
reduce(lambda x, y:x+y, [1, 2, 3, 4, 5])

# 1 + 2 = 3
# 3 + 3 = 6
# 6 + 4 = 10
# 10 + 5 = 15

15

#### Using Lambda's with Reduce()

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [77]:
import time

def capitalize(name):
    return name[0].upper() + name[1:].lower()
    
def full_name(first, last):
    return capitalize(first) + ' ' + capitalize(last)

def greet_person(first_name, last_name, day_of_week):
    print("Hello")
    person_full_name = full_name(first_name, last_name)
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day_of_week)}.")
    
greet_person('steph', 'curry', 'tuesday')

Hello
Hello Steph Curry, it sure is beautiful on this Tuesday.

In [81]:
# recursive functions call themselves...

def add_nums(num):
    if num <= 1:
        print(f"add+nums({num}) = {num}")
        return num
    else:
        print(f"add_nums({num}) = {num} + add_nums({num - 1})")
        return num + add_nums(num-1)

add_nums(5)

add_nums(5) = 5 + add_nums(4)
add_nums(4) = 4 + add_nums(3)
add_nums(3) = 3 + add_nums(2)
add_nums(2) = 2 + add_nums(1)
add+nums(1) = 1

15

#### Writing a Factorial Function

In [83]:
# 5! = 5 * 4!
# 4! = 4 * 3!

def factorial(num):
    # add a base case so that it's not infinite
    if num <= 1:
        return 1
    else:
        return num * factorial(num - 1)
    
factorial(5)

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [82]:
def sub_nums(num):
    if num <= 1:
        print(f"sub_nums{num}) = {num}")
        return num
    else:
        print(f"sub_nums({num}) = {num} - sub_nums({num - 1})")
        return num - sub_nums(num - 1)
    
    
sub_nums(10)

sub_nums(10) = 10 - sub_nums(9)
sub_nums(9) = 9 - sub_nums(8)
sub_nums(8) = 8 - sub_nums(7)
sub_nums(7) = 7 - sub_nums(6)
sub_nums(6) = 6 - sub_nums(5)
sub_nums(5) = 5 - sub_nums(4)
sub_nums(4) = 4 - sub_nums(3)
sub_nums(3) = 3 - sub_nums(2)
sub_nums(2) = 2 - sub_nums(1)
sub_nums1) = 1

5

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [84]:
a = map(len, ['Siobhan', 'Boylan', 'at home'])
# a map of the length of these strings

print(a)

<map object at 0x7f7b30347c40>

In [86]:
#nope
#a[1]

for i in a:
    print(i)
#works the first time, but...

7
6
7

In [88]:
#it's as though it "forgot"
for i in a:
    print(i)

In [101]:
a_new_list = [2, 3, 3, 4, 5, 6, 7]
list_iter = iter(a_new_list)

In [103]:
# this prevents the necessity of finding memory to store outputs from every iteration -
# it 'forgets' after each one
next(list_iter)

3

In [106]:
b = list(map(len, ['Siobhan', 'Boylan', 'learning']))

print(b)
print(b[1])

[7, 6, 8]
6

In [107]:
for i in b:
    print(i)

7
6
8

In [108]:
# use YIELD instead of return

def my_range(start, stop, step = 1):
    while start < stop:
        return (start)
        #will END function
        start += step
        
my_range(0, 10)

0
1
2
3
4
5
6
7
8
9

In [112]:
# use YIELD instead of return

def my_range(start, stop, step = 1):
    while start < stop:
        yield start
        start += step

In [113]:
for x in my_range(0,10):
    print (x**2)

0
1
4
9
16
25
36
49
64
81

In [114]:
range_iter = my_range(0,10)

for num in range_iter:
    print(num)
    
print(50 * '=')

for num in range_iter:
    print(num)

0
1
2
3
4
5
6
7
8
9
==================================================

In [115]:
range_iter_again = my_range(0, 100, 5)

print(range_iter_again)

<generator object my_range at 0x7f7b129979e0>

In [116]:
next(range_iter_again)

0

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [239]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

p = list(filter(lambda place: place.strip() != '', places))
print(p)

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and or the 'sorted()' function and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [234]:
authors = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

print(list(map(lambda author: author.split()[1] if len(author.split())<3 else author.split()[2], authors)))

sorted(authors, key = lambda author: author.split()[-1].upper())

['Carter', 'aNisimov', 'Garfield', 'hassELHOFF', 'Bernstein']

['Victor aNisimov',
 'Gary A.J. Bernstein',
 'Joel Carter',
 'Andrew P. Garfield',
 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [187]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]


list(map(lambda p: (p[0], (9/5)*p[1] + 32), places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [259]:
#The Rule is x(n) = x(n−1) + x(n−2)

def fibonacci(num):
    if num <= 1:
        return 1
    else:
        return(fibonacci(num-1) + fibonacci(num-2))
    
n = 5

for i in range(n+):
    print(i, fibonacci(i))
    #print(fibonacci(i))

0 1
1 1
2 2
3 3
4 5
5 8

#### Exercise #5 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

def squared_gen(num):

In [307]:
def squared_gen(num):
    i = num
    while i >= 0:
        yield i ** 2
        i -= 1

for s in squared_gen(5):
    print(s)
    
for s in squared_gen(10):
    print(s)

25
16
9
4
1
0
100
81
64
49
36
25
16
9
4
1
0